@import '@styles/variables';

.section {
  padding-top: 100px;
  background: $secondary;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: $breakpoint--md) {
    padding-top: 140px;
  }
  &__container {
    // margin-top: 40px;
    margin-bottom: 40px;
    max-width: 700px;
    color: #fff;
    font-family: 'PT Mono';
    font-size: 1.2rem;
    line-height: 1.7;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 3px;
    padding: 20px;
    @media (max-width: 740px) {
      max-width: 90%;
    }
    .name {
      margin: 0;
      border-left: 3px solid #fff;
      padding-left: 12px;
      text-transform: uppercase;
    }
  }
  .social {
    display: flex;
    justify-content: center;
    &__icon {
      margin-right: 25px;
      font-size: 3rem;
      cursor: pointer;
    }
  }
}
