@import 'color-palette';
@import 'breakpoints';
@import 'animations';

$rule: 0.5px solid rgba(0, 0, 0, 0.12);
$box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12);
$box-shadow-button: 1px 2px 6px 2px rgb(100 100 100 / 10%);
