@import '@styles/variables';

.nav {
  display: grid;
  grid-template-columns: minmax(5%, 1fr) repeat(6, minmax(100px, 400px)) minmax(5%, 1fr);
  overflow: hidden;
  padding: 40px 20px;
  position: relative;
  justify-content: center;
  align-items: center;
  @media (max-width: $breakpoint--md) {
    grid-template-columns: 5% repeat(2, minmax(250px, 500px)) 5%;
  }
  @media (max-width: $breakpoint--sm) {
    grid-template-columns: minmax(10px, 50px) 1fr minmax(10px, 50px);
    width: 100%;
    padding: 25px 10px;
  }
  position: absolute;
  z-index: 1000;

  &__container {
    grid-column: 2/-2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: $breakpoint--sm) {
      grid-column: 1/ -1;
      padding: 10px;
    }
  }

  &__image {
    max-width: 200px;
    height: auto;
    transition: all 0.2s linear;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    @media (max-width: $breakpoint--md) {
      max-width: 160px;
    }
    @media (max-width: $breakpoint--sm) {
      max-width: 110px;
    }
  }
}
